%dark {
  --nn-bg1: #17181a;
  --nav-hover: #36393f;
  --nav-label: #72767d;
  --nav-label-active: #fff;
  --vs-theme-color: #fff;
}
%light {
  --nn-bg1: #c00;
  --nav-hover: #36393f;
  --nav-label: #72767d;
  --nav-label-active: #fff;
  --vs-theme-color: #2c3e50;
}
